body.notfound {

    background-color: color('light');

    header {
        background-color: color('midnight');
        padding: 8rem 0;
        background-image:
            url('../img/decoration/bg/3.svg'), url('../img/decoration/bg/3.svg');
        background-position:
            -20rem -20rem, 15rem 125%;
        background-repeat: no-repeat;
        @media screen and (min-width: breakpoint('md')) {
            padding: 12rem 0;
            background-position:
                -15rem -15rem, 115% 135%;
        }
    }
}
