body.pengurus {
    background-color: color("white") !important;

    header {
        padding: 10rem 0;
        background-color: color("light");
        background-image: url("../img/decoration/bg/1.svg"),
            url("../img/decoration/bg/2.svg");
        background-size: 50rem, 50rem;
        background-repeat: no-repeat;
        background-position: -30rem -30rem, 140% -150%;
    }

    section#section-1 {
        padding: 4rem 0;
        @media screen and (min-width: breakpoint("lg")) {
            padding: 6rem 0;
        }
    }
}
