footer.footer {
    padding: 8rem 0 4rem;
    background-color: color('midnight');
    background-image: url('../img/decoration/bg/3.svg'), url('../img/decoration/bg/3.svg');
    background-repeat: no-repeat;
    background-position: 120% 120%, -20% -80%;
}